.button {
  padding: 4px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  color: #2E2D2D;
  display: flex;
  text-align: center;
  background: #eeeeee;
  align-items: center;
  justify-content: center;
}
